[submodule "examples/litebrowser/libs/cairo"]
	path = examples/litebrowser/libs/cairo
	url = git@github.com:tordex/cairo.git
[submodule "examples/litebrowser/libs/freeimage"]
	path = examples/litebrowser/libs/freeimage
	url = git@github.com:tordex/freeimage.git
[submodule "examples/litebrowser/libs/simpledib"]
	path = examples/litebrowser/libs/simpledib
	url = git@github.com:tordex/simpledib.git
[submodule "examples/litebrowser/libs/txdib"]
	path = examples/litebrowser/libs/txdib
	url = git@github.com:tordex/txdib.git
